.profile-container {
  position: relative;
  max-width: 800px;
  min-width: 340px;
  height: auto;
  background-color: white;
  color: black;
  padding: 20px;
  margin: 0 auto;
  border-radius: 20px;
  border: 8px solid #575757;
}

.profile-image-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
}

.profile-image {
  width: 100%;
  max-width: 500px;
  height: auto;
  border-radius: 20px;
}

.profile-section {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 12px 0;
}

.profile-section-border {
  border-bottom: 1px solid #cfcfcf;
}

.profile-header,
.profile-data {
  margin: 15px 0;
}

@media (min-width: 700px) {
  .profile-header,
  .profile-data {
    margin: 15px 70px;
  }
}
